Flask==2.1.0
Flask-Cors==3.0.9
Flask-RESTful==0.3.8
flax==0.5.0
tqdm
flask_cloudflared
accelerate
transformers
diffusers
opencv-python
gradio
flask
pathlib
pytorch-lightning
open_clip_torch
addict
attrs
einops
filelock
jsonplus
oss2
pillow
pyyaml
scipy
setuptools
tqdm
yapf
requests
gast
--extra-index-url https://pypi.ngc.nvidia.com